body {
	background-color:#EC1D22;
	color:white;
	background-image:url(../img/cheap_diagonal_fabric.png);		
}

.carousel-caption h2 {
	font-size:40px;
	color:black;
	text-shadow: 2px 2px white;
}

.carousel-caption p {
	font-size:20px;
	color:white;
	text-shadow: 2px 2px black;
}

.programmes {
	padding-top: 30px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 5px;
}

.header  {
	background-image: url(../img/background_yellow.png);
	border-bottom: 1px dashed yellow;
	margin-bottom:30px;
	position:fixed;
	width:100%;
	z-index:1;
}

.logo  {
	padding-top:5px;
	padding-left:10px;
}

.menu li {
	display:inline;
	padding-left:60px;	
}

.menu img {
	box-shadow:1px 1px 12px grey;	
}

.menu img:hover {
	border:5px solid rgba(0,0,0,0.00);
}

.content {
	padding-top:170px;
	padding-left:80px;
	padding-right:80px;
}


.artists {
	text-align:justify;
	background-color:rgba(255,221,0,0.30);
	border-radius:10px;
	box-shadow: 1px 1px 5px #555;
	padding:10px;
}

.artists img {
	padding-top:25px;
}

footer {
	margin-top: 30px;
	margin-bottom: 30px;
}

.carous {
	box-shadow: 1px 1px 5px #555;
	background-color: rgba(255,221,0,0.30);
	padding-top: 10px;
	padding-bottom: 10px;
}

.boutton {
	padding-top:20px;
}

.diviseur {
	background-color:rgba(255,221,0,0.30);
	margin-top:30px;
	padding:15px;
	border-radius:10px;
	box-shadow: 1px 1px 5px #555;
}

.shows {
	background-color: rgba(255,255,255,1.00);
	color: rgba(46,46,46,1.00);
	border-radius: 10px;
}

.tableau {
	color:black;
}

.description {
	margin-top:20px;
}

.table {
	background-color:#F0B931;
}

.about  {
	background-color:rgba(255,221,0,0.30);
	margin-top:30px;
	padding:15px;
	border-radius:10px;
	box-shadow: 1px 1px 5px #555;
}



